<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <label class="navbar-brand my-auto">Test</label>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home/hospitals">Inicio</a>
      </li>

      <li class="nav-item">
        <a *ngIf="!logged" href="/login" class="nav-link">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="logged" (click)="closeSession()" class="nav-link">Log out</a>
      </li>
    </ul>
  </div>
</nav>
