<div class="container h-100">
    <div class="row">
        <div class="col-9 bg-secondary">
            Here is the hospital table
        </div>
        <div class="col bg-primary">
            <div class="container py-3">
                <div class="row bg-warning">
                    <h5 class="m-4">
                        Doctors
                    </h5>
                </div>
                <div class="row bg-warning m-5">
                    Patients
                </div>
                <div class="row bg-warning m-5">
                    Specialties
                </div>
            </div>
        </div>
    </div>
</div>