<div class="container">
    <div class="row">
        <div class="col-9">
            Here is the hospital table
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    Doctors
                </div>
                <div class="row">
                    Patients
                </div>
                <div class="row">
                    Specialties
                </div>
            </div>
        </div>
    </div>
</div>