<div class="row">
    <div class="col-5 mx-auto">
        <div class="input-group mb-3">
            <input [(ngModel)]="hospitalName" type="text" class="form-control" placeholder="name...">
            <button class="btn btn-outline-info" type="button" (click)="searchByName()">
                Search by name
            </button>
        </div>
    </div>
    <div class="col mx-auto">
        <div class="input-group mb-3">
            <input [(ngModel)]="dateA" type="datetime-local" class="form-control">
            <input [(ngModel)]="dateB" type="datetime-local" class="form-control">
            <button class=" btn btn-outline-info" type="button" (click)="searchByDate()">
                Search by date
            </button>
        </div>
    </div>
</div>
<table class="table table-secondary table-bordered border-dark">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                <button class="btn btn-outline-success btn-sm" (click)="getHospitals()">
                    Refresh
                </button>
                <button type="button" class="btn btn-outline-success btn-sm border-light text-white"
                    data-bs-toggle="modal" data-bs-target="#createModal">
                    Create
                </button>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hospital of hospitals; index as i">
            <th scope="row">
                {{i+1}}
            </th>
            <td>
                {{hospital.name}}
            </td>
            <td>
                <button type="button" class="btn btn-outline-warning border-dark text-dark" data-bs-toggle="modal"
                    data-bs-target="#editModal" (click)="edit(i)">
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger border-dark text-dark" (click)="delete(hospital.id)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Create modal-->
<div class="modal fade bg-dark" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Create new Hospital
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">
                        Name
                    </label>
                    <input [(ngModel)]="newHospital.name" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger border-dark text-dark" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" (click)="create()" class="btn btn-outline-success border-dark text-dark"
                    data-bs-dismiss="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal-->
<div class="modal fade bg-dark" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Edit Hospital
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">
                        Name
                    </label>
                    <input [(ngModel)]="hospitalToEdit.name" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger border-dark text-dark" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" (click)="update()" class="btn btn-outline-success border-dark text-dark"
                    data-bs-dismiss="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>